extends layout
block content
    h1= title
    if user_list.length
        each user in user_list
            ul
                li #{user.imie} #{user.nazwisko}
    else
        p There are no users.